.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 87vh;
    background-color: #121213;
}
.loadingDiv{
    display: flex;
}
.loadLogo{
    height: 100px;
    width: 100px;
}