.pass-page{
    display: flex;
    height: 87vh;
    width: 100%;
    background-color: #14171f;
    justify-content: center;
    align-items: center;
}
.password{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.lock-logo{
    width: 100px;
    height: auto;
}
input{
    background-color: #22252e;
    margin-top: 30px;
    border: none;
    appearance: none;
    padding: 5px;
    text-align: center;
    height: 40px;
    min-width: 100px;
    max-width: 200px;
    border-radius: 10px;
    color: #fff;
    outline: none;
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
input::placeholder{
    font-size: 1.5rem;
}
button{
    margin-top: 20px;
    width: 60px;
    height: 25px;
    color: #fff;
    background-color: #22252e;
    appearance: none;
    border: none;
}
.loginErr{
    color: rgb(124, 14, 14);
    font-family:'Times New Roman', Times, serif;
    margin-top: 5px;
}