.section{
    height: 87vh;
    width: 100%;
    background-color: #121213;
    display: flex;
    justify-content: center;
}
.toggle-section{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.toggle-body{
    display: flex;
    height: 15vh;
    min-width: 290px;
    min-height: 100px;
    text-align: center;
    justify-content: space-around;
    background-color: #22252e;
    border-radius: 20px;
    margin: 15px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.switch-font {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    font-size: 2.3rem;
    align-items: center;
    justify-content: center;
    user-select: none;
    /* margin-top: 5px; */
    padding: 3px;
    /* margin-right: 20px; */
    max-width: 200px;
    min-width: 120px;
    /* width: 120px; */
    max-height: 70px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffa600;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 15px;
    padding-left: 10px;
    padding: 5px;
    background-color: #111213;
  }
  .reg-space{
    margin-top: 20px;
  }
  @media (min-width: 400px) {
    .toggle-section{
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 0 45%;
    }
  }
  @media (orientation: landscape) and (max-height:400px){
    .reg-space{
      margin-top: 0px;
      top: 0;
    }
    .toggle-body{
      min-width: 270px;
      min-height: 80px;
      margin: 0;
    }
    .toggle-section{
      padding: 0;
      max-height: 87vh;
      justify-content: space-around;
    }
  }